.primeiraSessaoInicio{
    height: 75vh;
    background: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 6%;
    background-color: tomato;
    background-image: url('../../assets/BannerInicio.png');
    h2{
        color:white;
        font-size: 32px;
        width: 20%;
    }
}